In [217]:
import pandas as pd

# 1. Load the Amazon Prime dataset into a Pandas DataFrame.

In [218]:
df=pd.read_csv("C:\\Users\\Neha\\Downloads\\amazon_prime_video_data.csv")

# 2. Display the first 10 records of the dataset.

In [219]:
df.head(10)

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
0,5001,Movie,Romance,Tamil,2014,80,NaN,U,Australia,2022-08-21,87.23,50.0,0.01,Basic,No,9.82
1,5002,TV Show,Action,Malayalam,2010,165,7.3,U/A,Canada,2023-03-23,0.63,127.0,5.52,Standard,No,36.70
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,13.78,74.0,8.61,Mobile,No,3.92
3,5004,TV Show,Comedy,Telugu,2016,169,4.6,U/A,India,2023-09-04,86.49,132.0,2.79,Basic,No,6.68
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,53.47,103.0,4.13,Basic,No,30.00
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,96.06,51.0,6.42,Basic,No,0.84
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,111.84,130.0,6.66,Premium,No,6.47
7,5008,Movie,Sci-Fi,Telugu,2020,65,5.9,A,Canada,2023-02-24,90.44,68.0,8.43,Premium,No,45.42
8,5009,Movie,Comedy,English,2005,65,6.8,U,USA,2023-07-22,105.41,67.0,1.97,Standard,No,32.48
9,5010,Movie,Thriller,Kannada,2017,107,7.0,U,Canada,2022-05-02,54.07,80.0,8.24,Mobile,No,4.94

# 3.. Display the last 5 records of the dataset.

In [220]:
df.tail(5)

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,avg_watch_time_min,likes_millions,subscription_plan,is_trending,revenue_millions
601,5510,Movie,Action,Malayalam,2015,169,7.8,A,Australia,2023-07-15,91.25,31.0,8.26,Basic,No,35.79
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,110.01,NaN,0.41,Premium,Yes,1.58
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,60.76,129.0,7.76,Standard,Yes,47.08
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,46.04,33.0,5.50,Basic,Yes,23.48
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,37.05,122.0,12.68,Basic,No,27.18

# 4.Check the total number of rows and columns

In [99]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   content_id          606 non-null    int64
 1   content_type        606 non-null    object
 2   genre               606 non-null    object
 3   language            606 non-null    object
 4   release_year        606 non-null    int64
 5   duration_minutes    606 non-null    int64
 6   imdb_rating         606 non-null    float64
 7   age_rating          606 non-null    object
 8   country             606 non-null    object
 9   added_date          606 non-null    datetime64[ns]
 10  views_millions      606 non-null    float64
 11  avg_watch_time_min  606 non-null    float64
 12  likes_millions      606 non-null    float64
 13  subscription_plan   606 non-null    object
 14  is_trending         606 non-null    object
 15  revenue_millions    606 non-null    float64
 16  popularity_score    606 non-null    float64
 17  viwes_millions      606 non-null    float64
 18  rating_category     606 non-null    object
 19  numerical           606 non-null    object
 20  shortcode           606 non-null    object
 21  numericalformat     606 non-null    object
 22  year                606 non-null    int32
 23  month               606 non-null    int32
 24  monthname           606 non-null    object
 25  dayname             606 non-null    object
 26  quarter             606 non-null    int32
dtypes: datetime64[ns](1), float64(7), int32(3), int64(3), object(13)
memory usage: 120.9+ KB

# 5. Display all column names with their data types

In [100]:
df.dtypes

content_id                     int64
content_type                  object
genre                         object
language                      object
release_year                   int64
duration_minutes               int64
imdb_rating                  float64
age_rating                    object
country                       object
added_date            datetime64[ns]
views_millions               float64
avg_watch_time_min           float64
likes_millions               float64
subscription_plan             object
is_trending                   object
revenue_millions             float64
popularity_score             float64
viwes_millions               float64
rating_category               object
numerical                     object
shortcode                     object
numericalformat               object
year                           int32
month                          int32
monthname                     object
dayname                       object
quarter                        int32
dtype: object

# 6.Generate summary statistics for numerical columns

In [101]:
df.describe()

,content_id,release_year,duration_minutes,imdb_rating,added_date,views_millions,avg_watch_time_min,likes_millions,revenue_millions,popularity_score,viwes_millions,year,month,quarter
count,606.000000,606.000000,606.000000,606.000000,606,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000,606.000000
mean,5301.823432,2014.714521,119.330033,6.916961,2022-08-23 09:49:18.415841536,61.660677,86.394389,7.474241,25.315792,69.134917,7.474241,2022.179868,6.082508,2.376238
min,5001.000000,2005.000000,60.000000,4.500000,2021-01-03 00:00:00,0.150000,20.000000,0.010000,0.140000,1.800000,0.010000,2021.000000,1.000000,1.000000
25%,5152.250000,2010.000000,91.250000,5.700000,2021-10-05 00:00:00,32.880000,51.000000,3.910000,13.952500,41.525000,3.910000,2021.000000,3.000000,1.000000
50%,5303.500000,2015.000000,120.000000,6.916961,2022-08-13 00:00:00,61.415000,85.000000,7.430000,25.350000,69.555000,7.430000,2022.000000,6.000000,2.000000
75%,5451.750000,2020.000000,147.000000,8.100000,2023-07-15 00:00:00,91.452500,122.000000,11.290000,37.097500,99.000000,11.290000,2023.000000,9.000000,3.000000
max,5600.000000,2024.000000,179.000000,9.500000,2024-04-13 00:00:00,119.880000,159.000000,15.000000,49.810000,132.580000,15.000000,2024.000000,12.000000,4.000000
std,173.127136,5.712624,34.121949,1.399101,NaN,33.650763,40.507498,4.332711,13.654265,33.965226,4.332711,0.988692,3.487374,1.135613

# 7.Identify columns containing missing values

In [102]:
df.isna()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
602,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
603,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
604,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
605,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

# 8.Count missing values in each column.

In [103]:
df.isna().sum()

content_id            0
content_type          0
genre                 0
language              0
release_year          0
duration_minutes      0
imdb_rating           0
age_rating            0
country               0
added_date            0
views_millions        0
avg_watch_time_min    0
likes_millions        0
subscription_plan     0
is_trending           0
revenue_millions      0
popularity_score      0
viwes_millions        0
rating_category       0
numerical             0
shortcode             0
numericalformat       0
year                  0
month                 0
monthname             0
dayname               0
quarter               0
dtype: int64

# 9. Calculate the percentage of missing values in imdb_rating

# 10.Fill missing imdb_rating values using the mean

In [104]:
df['imdb_rating'].fillna(df['imdb_rating'].mean(), inplace=True)

C:\Users\Neha\AppData\Local\Temp\ipykernel_8912\954528069.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['imdb_rating'].fillna(df['imdb_rating'].mean(), inplace=True)

# 11.Fill missing avg_watch_time_min values using the median

In [105]:
df['avg_watch_time_min'].fillna(df['avg_watch_time_min'].median(), inplace=True)

C:\Users\Neha\AppData\Local\Temp\ipykernel_8912\3595750156.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['avg_watch_time_min'].fillna(df['avg_watch_time_min'].median(), inplace=True)

# 12. Verify that missing values are handled.

In [106]:
df.isna().sum()

content_id            0
content_type          0
genre                 0
language              0
release_year          0
duration_minutes      0
imdb_rating           0
age_rating            0
country               0
added_date            0
views_millions        0
avg_watch_time_min    0
likes_millions        0
subscription_plan     0
is_trending           0
revenue_millions      0
popularity_score      0
viwes_millions        0
rating_category       0
numerical             0
shortcode             0
numericalformat       0
year                  0
month                 0
monthname             0
dayname               0
quarter               0
dtype: int64

# 13.Check if duplicate records exist

In [107]:
df.duplicated().sum()

np.int64(6)

# 14. Count total duplicate rows

In [108]:
df.duplicated().sum()

np.int64(6)

# 15.Display duplicate records

In [109]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
601     True
602     True
603     True
604     True
605     True
Length: 606, dtype: bool

# 16. Remove duplicate rows permanently.

In [110]:
df.drop_duplicates()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,0.01,Good,01,B,1,2022,8,August,Sunday,3
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,5.52,Good,01,S,1,2023,3,March,Thursday,1
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,8.61,Excellent,01,M,1,2023,10,October,Thursday,4
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,2.79,Average,01,B,1,2023,9,September,Monday,3
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,4.13,Excellent,01,B,1,2024,1,January,Friday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,5596,TV Show,Action,Tamil,2024,81,8.100000,U/A,UK,2023-06-24,...,0.73,Excellent,02,P,2,2023,6,June,Saturday,2
596,5597,Movie,Sci-Fi,Hindi,2017,87,6.400000,U,Canada,2023-03-17,...,11.29,Good,01,S,1,2023,3,March,Friday,1
597,5598,Movie,Thriller,Telugu,2021,174,6.916961,A,Canada,2024-02-28,...,13.16,Good,01,S,1,2024,2,February,Wednesday,1
598,5599,Movie,Drama,Malayalam,2008,104,5.300000,A,UK,2023-11-28,...,5.88,Average,01,M,1,2023,11,November,Tuesday,4
599,5600,Movie,Comedy,English,2024,100,4.500000,U/A,Canada,2022-03-26,...,8.03,Average,01,B,1,2022,3,March,Saturday,1

# 17.Verify the dataset shape after removing duplicates

In [111]:
df.shape

(606, 27)

# 18. Find the number of unique values in content_type

In [112]:
df["content_type"].nunique()

2

# 19.Find the number of unique values in genre

In [113]:
df["genre"].nunique()

7

# 20.. Display all unique languages

In [114]:
df["language"].unique()

array(['Tamil', 'Malayalam', 'Telugu', 'Hindi', 'Kannada', 'English'],
      dtype=object)

# 21. Count content by genre.

In [115]:
df["genre"].value_counts()

genre
Documentary    100
Drama          100
Sci-Fi          95
Action          90
Romance         75
Thriller        74
Comedy          72
Name: count, dtype: int64

# 22.Count content by language.

In [116]:
df["language"].value_counts()

language
Tamil        111
Malayalam    108
English      105
Hindi        104
Telugu        94
Kannada       84
Name: count, dtype: int64

# 23. Filter content with imdb_rating greater than 8

In [117]:
df[df["imdb_rating"]>8]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,...,8.61,Excellent,01,M,1,2023,10,October,Thursday,4
4,5005,TV Show,Documentary,Malayalam,2021,157,8.1,U/A,Australia,2024-01-05,...,4.13,Excellent,01,B,1,2024,1,January,Friday,1
10,5011,TV Show,Drama,Malayalam,2014,154,9.1,U/A,Australia,2022-12-21,...,10.39,Excellent,01,B,1,2022,12,December,Wednesday,4
11,5012,TV Show,Drama,English,2014,60,8.9,U,Australia,2022-10-17,...,14.99,Excellent,02,P,2,2022,10,October,Monday,4
12,5013,Movie,Sci-Fi,Malayalam,2011,70,9.2,U/A,Australia,2023-09-09,...,7.51,Excellent,01,S,1,2023,9,September,Saturday,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589,5590,TV Show,Drama,Malayalam,2012,166,8.3,U/A,USA,2023-07-21,...,1.64,Excellent,01,S,1,2023,7,July,Friday,3
592,5593,Movie,Documentary,Tamil,2009,143,8.9,U,USA,2023-10-16,...,4.34,Excellent,02,S,2,2023,10,October,Monday,4
594,5595,TV Show,Sci-Fi,Telugu,2017,170,8.4,A,Australia,2021-07-29,...,1.22,Excellent,01,P,1,2021,7,July,Thursday,3
595,5596,TV Show,Action,Tamil,2024,81,8.1,U/A,UK,2023-06-24,...,0.73,Excellent,02,P,2,2023,6,June,Saturday,2
604,5434,Movie,Romance,Telugu,2013,162,9.3,U/A,UK,2023-09-30,...,5.50,Excellent,02,B,2,2023,9,September,Saturday,3

# 24.Filter content with views_millions greater than 50.

In [118]:
df[df["views_millions"]>50]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,0.01,Good,01,B,1,2022,8,August,Sunday,3
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,2.79,Average,01,B,1,2023,9,September,Monday,3
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,4.13,Excellent,01,B,1,2024,1,January,Friday,1
5,5006,Movie,Drama,Hindi,2010,104,6.200000,A,Australia,2022-12-27,...,6.42,Good,01,B,1,2022,12,December,Tuesday,4
6,5007,Movie,Action,Kannada,2019,121,6.900000,A,USA,2021-03-27,...,6.66,Good,01,P,1,2021,3,March,Saturday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599,5600,Movie,Comedy,English,2024,100,4.500000,U/A,Canada,2022-03-26,...,8.03,Average,01,B,1,2022,3,March,Saturday,1
600,5482,TV Show,Thriller,English,2009,60,5.600000,U,India,2021-03-15,...,13.96,Average,01,S,1,2021,3,March,Monday,1
601,5510,Movie,Action,Malayalam,2015,169,7.800000,A,Australia,2023-07-15,...,8.26,Good,01,B,1,2023,7,July,Saturday,3
602,5349,Movie,Action,Telugu,2018,119,4.900000,A,UK,2021-03-02,...,0.41,Average,02,P,2,2021,3,March,Tuesday,1
603,5339,Movie,Action,Malayalam,2009,97,6.700000,A,Australia,2023-11-29,...,7.76,Good,02,S,2,2023,11,November,Wednesday,4

# 25.Filter content released after 2018.

In [119]:
df[df["release_year"]>2018]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,8.61,Excellent,01,M,1,2023,10,October,Thursday,4
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,4.13,Excellent,01,B,1,2024,1,January,Friday,1
6,5007,Movie,Action,Kannada,2019,121,6.900000,A,USA,2021-03-27,...,6.66,Good,01,P,1,2021,3,March,Saturday,1
7,5008,Movie,Sci-Fi,Telugu,2020,65,5.900000,A,Canada,2023-02-24,...,8.43,Average,01,P,1,2023,2,February,Friday,1
13,5014,Movie,Sci-Fi,Kannada,2020,146,9.300000,A,India,2023-05-30,...,14.34,Excellent,01,P,1,2023,5,May,Tuesday,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590,5591,Movie,Action,Tamil,2019,108,8.000000,U/A,UK,2024-02-22,...,7.97,Excellent,01,M,1,2024,2,February,Thursday,1
595,5596,TV Show,Action,Tamil,2024,81,8.100000,U/A,UK,2023-06-24,...,0.73,Excellent,02,P,2,2023,6,June,Saturday,2
597,5598,Movie,Thriller,Telugu,2021,174,6.916961,A,Canada,2024-02-28,...,13.16,Good,01,S,1,2024,2,February,Wednesday,1
599,5600,Movie,Comedy,English,2024,100,4.500000,U/A,Canada,2022-03-26,...,8.03,Average,01,B,1,2022,3,March,Saturday,1
605,5491,TV Show,Romance,English,2020,140,6.000000,U,Australia,2022-05-29,...,12.68,Good,01,B,1,2022,5,May,Sunday,2

# 26.Filter content belonging to Action or Thriller genre

In [120]:
df[df["genre"].isin(["Action","Thriller"])]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,5.52,Good,01,S,1,2023,3,March,Thursday,1
6,5007,Movie,Action,Kannada,2019,121,6.900000,A,USA,2021-03-27,...,6.66,Good,01,P,1,2021,3,March,Saturday,1
9,5010,Movie,Thriller,Kannada,2017,107,7.000000,U,Canada,2022-05-02,...,8.24,Good,01,M,1,2022,5,May,Monday,2
15,5016,TV Show,Action,Telugu,2016,90,8.400000,U/A,USA,2021-06-06,...,13.41,Excellent,01,S,1,2021,6,June,Sunday,2
16,5017,Movie,Action,Kannada,2015,178,9.000000,U,USA,2021-07-27,...,10.88,Excellent,01,M,1,2021,7,July,Tuesday,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,5598,Movie,Thriller,Telugu,2021,174,6.916961,A,Canada,2024-02-28,...,13.16,Good,01,S,1,2024,2,February,Wednesday,1
600,5482,TV Show,Thriller,English,2009,60,5.600000,U,India,2021-03-15,...,13.96,Average,01,S,1,2021,3,March,Monday,1
601,5510,Movie,Action,Malayalam,2015,169,7.800000,A,Australia,2023-07-15,...,8.26,Good,01,B,1,2023,7,July,Saturday,3
602,5349,Movie,Action,Telugu,2018,119,4.900000,A,UK,2021-03-02,...,0.41,Average,02,P,2,2021,3,March,Tuesday,1
603,5339,Movie,Action,Malayalam,2009,97,6.700000,A,Australia,2023-11-29,...,7.76,Good,02,S,2,2023,11,November,Wednesday,4

# 27.Filter content available in Hindi or English

In [121]:
df[df["language"].isin(["Hindi","English"])]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
5,5006,Movie,Drama,Hindi,2010,104,6.200000,A,Australia,2022-12-27,...,6.42,Good,01,B,1,2022,12,December,Tuesday,4
8,5009,Movie,Comedy,English,2005,65,6.800000,U,USA,2023-07-22,...,1.97,Good,01,S,1,2023,7,July,Saturday,3
11,5012,TV Show,Drama,English,2014,60,8.900000,U,Australia,2022-10-17,...,14.99,Excellent,02,P,2,2022,10,October,Monday,4
19,5020,Movie,Drama,English,2017,118,7.400000,U,USA,2022-05-10,...,4.45,Good,02,S,2,2022,5,May,Tuesday,2
20,5021,TV Show,Action,English,2015,67,5.500000,U,Canada,2022-02-23,...,1.43,Average,01,S,1,2022,2,February,Wednesday,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591,5592,Movie,Sci-Fi,English,2005,140,6.916961,U/A,India,2022-08-11,...,2.26,Good,01,M,1,2022,8,August,Thursday,3
596,5597,Movie,Sci-Fi,Hindi,2017,87,6.400000,U,Canada,2023-03-17,...,11.29,Good,01,S,1,2023,3,March,Friday,1
599,5600,Movie,Comedy,English,2024,100,4.500000,U/A,Canada,2022-03-26,...,8.03,Average,01,B,1,2022,3,March,Saturday,1
600,5482,TV Show,Thriller,English,2009,60,5.600000,U,India,2021-03-15,...,13.96,Average,01,S,1,2021,3,March,Monday,1
605,5491,TV Show,Romance,English,2020,140,6.000000,U,Australia,2022-05-29,...,12.68,Good,01,B,1,2022,5,May,Sunday,2

# 28. Filter content with duration between 90 and 150 minutes.

In [122]:
df[df["duration_minutes"].between(90,150)]

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
2,5003,Movie,Documentary,Malayalam,2024,129,9.5,A,UK,2023-10-05,...,8.61,Excellent,01,M,1,2023,10,October,Thursday,4
5,5006,Movie,Drama,Hindi,2010,104,6.2,A,Australia,2022-12-27,...,6.42,Good,01,B,1,2022,12,December,Tuesday,4
6,5007,Movie,Action,Kannada,2019,121,6.9,A,USA,2021-03-27,...,6.66,Good,01,P,1,2021,3,March,Saturday,1
9,5010,Movie,Thriller,Kannada,2017,107,7.0,U,Canada,2022-05-02,...,8.24,Good,01,M,1,2022,5,May,Monday,2
13,5014,Movie,Sci-Fi,Kannada,2020,146,9.3,A,India,2023-05-30,...,14.34,Excellent,01,P,1,2023,5,May,Tuesday,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,5599,Movie,Drama,Malayalam,2008,104,5.3,A,UK,2023-11-28,...,5.88,Average,01,M,1,2023,11,November,Tuesday,4
599,5600,Movie,Comedy,English,2024,100,4.5,U/A,Canada,2022-03-26,...,8.03,Average,01,B,1,2022,3,March,Saturday,1
602,5349,Movie,Action,Telugu,2018,119,4.9,A,UK,2021-03-02,...,0.41,Average,02,P,2,2021,3,March,Tuesday,1
603,5339,Movie,Action,Malayalam,2009,97,6.7,A,Australia,2023-11-29,...,7.76,Good,02,S,2,2023,11,November,Wednesday,4
605,5491,TV Show,Romance,English,2020,140,6.0,U,Australia,2022-05-29,...,12.68,Good,01,B,1,2022,5,May,Sunday,2

# 29.Create a new column popularity_score as views_millions + likes_millions

In [123]:
df["popularity_score"]=df["views_millions"]+df["likes_millions"]
print(df["popularity_score"])

0       87.24
1        6.15
2       22.39
3       89.28
4       57.60
        ...
601     99.51
602    110.42
603     68.52
604     51.54
605     49.73
Name: popularity_score, Length: 606, dtype: float64

# 30.Create a new column rating_category using apply()

In [124]:
def rating_category(x):
    if x >= 8:
        return "Excellent"
    elif x >= 6:
        return "Good"
    else:
        return "Average"
df['rating_category'] = df['imdb_rating'].apply(rating_category)

In [125]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,0.01,Good,01,B,1,2022,8,August,Sunday,3
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,5.52,Good,01,S,1,2023,3,March,Thursday,1
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,8.61,Excellent,01,M,1,2023,10,October,Thursday,4
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,2.79,Average,01,B,1,2023,9,September,Monday,3
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,4.13,Excellent,01,B,1,2024,1,January,Friday,1

# 31.Map subscription_plan to short codes.

In [126]:
short_codes={
    "Basic":"B",
    "Mobile":"M",
    "Standard":"S",
    "Premium":"P"
}
df["shortcode"]=df["subscription_plan"].map(short_codes)

In [127]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,0.01,Good,01,B,1,2022,8,August,Sunday,3
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,5.52,Good,01,S,1,2023,3,March,Thursday,1
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,8.61,Excellent,01,M,1,2023,10,October,Thursday,4
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,2.79,Average,01,B,1,2023,9,September,Monday,3
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,4.13,Excellent,01,B,1,2024,1,January,Friday,1

# 32.Map is_trending values to numerical format

In [128]:
numerical={
    "No":"1",
    "Yes":"2"
}
df["numericalformat"]=df["is_trending"].map(numerical)

In [129]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,0.01,Good,01,B,1,2022,8,August,Sunday,3
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,5.52,Good,01,S,1,2023,3,March,Thursday,1
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,8.61,Excellent,01,M,1,2023,10,October,Thursday,4
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,2.79,Average,01,B,1,2023,9,September,Monday,3
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,4.13,Excellent,01,B,1,2024,1,January,Friday,1

# 33. Count content by subscription_plan

In [130]:
df["subscription_plan"].value_counts()

subscription_plan
Basic       181
Mobile      145
Standard    142
Premium     138
Name: count, dtype: int64

# 34. Identify top 5 contents based on popularity_score

In [131]:
df["popularity_score"].head(5)

0    87.24
1     6.15
2    22.39
3    89.28
4    57.60
Name: popularity_score, dtype: float64

# 35.Group the data by content_type and count total content

In [214]:
df.groupby("content_type").count()

,content_id,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,views_millions,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
content_type,,,,,,,,,,,,,,,,,,,,,
Movie,371,371,371,371,371,371,371,371,371,371,...,371,371,371,371,371,371,371,371,371,371
TV Show,235,235,235,235,235,235,235,235,235,235,...,235,235,235,235,235,235,235,235,235,235

# 36.Group the data by genre and calculate average imdb_rating

In [132]:
df.groupby("genre")["imdb_rating"].mean()

genre
Action         6.991508
Comedy         6.963678
Documentary    6.686848
Drama          7.071357
Romance        6.829131
Sci-Fi         7.186156
Thriller       6.626592
Name: imdb_rating, dtype: float64

# 37.Group the data by language and calculate average views_millions.

In [133]:
df.groupby("language")["views_millions"].mean()

language
English      64.233143
Hindi        63.005385
Kannada      61.063214
Malayalam    59.520741
Tamil        63.118468
Telugu       58.570532
Name: views_millions, dtype: float64

# 38.Group the data by subscription_plan and calculate average revenue.

In [134]:
df.groupby("subscription_plan")["revenue_millions"].mean()

subscription_plan
Basic       25.343370
Mobile      25.812690
Premium     24.409275
Standard    25.654225
Name: revenue_millions, dtype: float64

# 39.Group the data by country and count content.

In [135]:
df.groupby("country")["content_type"].count()

country
Australia    137
Canada       120
India        122
UK           126
USA          101
Name: content_type, dtype: int64

# 40. Group the data by genre and calculate total revenue.

In [136]:
df.groupby("genre")["revenue_millions"].sum()

genre
Action         2212.25
Comedy         1928.84
Documentary    2379.68
Drama          2503.21
Romance        1984.44
Sci-Fi         2498.81
Thriller       1834.14
Name: revenue_millions, dtype: float64

# 41.Group the data by content_type and calculate average duration.

In [137]:
df.groupby("content_type")["duration_minutes"].mean()

content_type
Movie      119.140162
TV Show    119.629787
Name: duration_minutes, dtype: float64

# 42. Group the data by is_trending and calculate average views.

In [138]:
df.groupby("is_trending")["views_millions"].mean()

is_trending
No     63.20151
Yes    58.57901
Name: views_millions, dtype: float64

# 43.Filter grouped genres having average imdb_rating greater than 7.5.

In [156]:
genre_avg_imdb_rating=df.groupby("genre")["imdb_rating"].mean()

In [198]:
genre_avg_imdb_rating[genre_avg_imdb_rating>7.0]

genre
Drama     7.071357
Sci-Fi    7.186156
Name: imdb_rating, dtype: float64

# 44. Filter grouped languages having more than 50 contents.

In [191]:
language_content_count=df.groupby("language")["content_id"].count()
language_content_count.head()

language
English      105
Hindi        104
Kannada       84
Malayalam    108
Tamil        111
Name: content_id, dtype: int64

In [192]:
language_content_count[language_content_count > 50]

language
English      105
Hindi        104
Kannada       84
Malayalam    108
Tamil        111
Telugu        94
Name: content_id, dtype: int64

# 45.Perform multiple aggregations on genre for views, likes, and revenue.

In [139]:
df.groupby("genre").agg(views=("views_millions","mean"),
                         likes=("likes_millions","max"),
                         revenue=("revenue_millions","min"))

                 views  likes  revenue
genre
Action       63.695889  15.00     0.82
Comedy       54.443750  14.51     3.28
Documentary  62.809300  14.89     0.38
Drama        60.889300  14.99     0.84
Romance      64.436400  14.97     0.90
Sci-Fi       63.420105  14.85     0.72
Thriller     60.625541  14.64     0.14

# 46.Perform named aggregations on content_type.

In [140]:
df.groupby("content_type").agg(views=("views_millions","mean"),
                              sumreleaseyear=("release_year","sum"),
                              countdurationminutes=("duration_minutes","min"))

                  views  sumreleaseyear  countdurationminutes
content_type
Movie         61.651348          747446                    61
TV Show       61.675404          473471                    60

# 47.Perform named aggregations on country.

In [141]:
df.groupby("country").agg(popular=("popularity_score","mean"),
                         rating=("imdb_rating","max"),
                         num=("numerical","count"))

             popular  rating  num
country
Australia  68.829489     9.5  137
Canada     67.406750     9.5  120
India      70.185902     9.3  122
UK         66.943095     9.5  126
USA        73.067327     9.5  101

# 48.Extract year from added_date.

In [143]:
df["year"]=df["added_date"].dt.year

In [144]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,0.01,Good,01,B,1,2022,8,August,Sunday,3
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,5.52,Good,01,S,1,2023,3,March,Thursday,1
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,8.61,Excellent,01,M,1,2023,10,October,Thursday,4
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,2.79,Average,01,B,1,2023,9,September,Monday,3
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,4.13,Excellent,01,B,1,2024,1,January,Friday,1

In [145]:
df['added_date'] = pd.to_datetime(df["added_date"])

In [146]:
df.dtypes

content_id                     int64
content_type                  object
genre                         object
language                      object
release_year                   int64
duration_minutes               int64
imdb_rating                  float64
age_rating                    object
country                       object
added_date            datetime64[ns]
views_millions               float64
avg_watch_time_min           float64
likes_millions               float64
subscription_plan             object
is_trending                   object
revenue_millions             float64
popularity_score             float64
viwes_millions               float64
rating_category               object
numerical                     object
shortcode                     object
numericalformat               object
year                           int32
month                          int32
monthname                     object
dayname                       object
quarter                        int32
dtype: object

# 49. Extract month from added_date.

In [147]:
df["month"]=df["added_date"].dt.month

In [148]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,0.01,Good,01,B,1,2022,8,August,Sunday,3
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,5.52,Good,01,S,1,2023,3,March,Thursday,1
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,8.61,Excellent,01,M,1,2023,10,October,Thursday,4
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,2.79,Average,01,B,1,2023,9,September,Monday,3
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,4.13,Excellent,01,B,1,2024,1,January,Friday,1

# 50.Extract month name from added_date.

In [159]:
df["monthname"]=df["added_date"].dt.month_name()

In [160]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,0.01,Good,01,B,1,2022,8,August,Sunday,3
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,5.52,Good,01,S,1,2023,3,March,Thursday,1
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,8.61,Excellent,01,M,1,2023,10,October,Thursday,4
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,2.79,Average,01,B,1,2023,9,September,Monday,3
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,4.13,Excellent,01,B,1,2024,1,January,Friday,1

# 51.Extract day name from added_date.

In [151]:
df["dayname"]=df["added_date"].dt.day_name()

In [152]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,0.01,Good,01,B,1,2022,8,August,Sunday,3
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,5.52,Good,01,S,1,2023,3,March,Thursday,1
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,8.61,Excellent,01,M,1,2023,10,October,Thursday,4
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,2.79,Average,01,B,1,2023,9,September,Monday,3
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,4.13,Excellent,01,B,1,2024,1,January,Friday,1

# 52. Extract quarter from added_date

In [153]:
df["quarter"]=df["added_date"].dt.quarter

In [154]:
df.head()

,content_id,content_type,genre,language,release_year,duration_minutes,imdb_rating,age_rating,country,added_date,...,viwes_millions,rating_category,numerical,shortcode,numericalformat,year,month,monthname,dayname,quarter
0,5001,Movie,Romance,Tamil,2014,80,6.916961,U,Australia,2022-08-21,...,0.01,Good,01,B,1,2022,8,August,Sunday,3
1,5002,TV Show,Action,Malayalam,2010,165,7.300000,U/A,Canada,2023-03-23,...,5.52,Good,01,S,1,2023,3,March,Thursday,1
2,5003,Movie,Documentary,Malayalam,2024,129,9.500000,A,UK,2023-10-05,...,8.61,Excellent,01,M,1,2023,10,October,Thursday,4
3,5004,TV Show,Comedy,Telugu,2016,169,4.600000,U/A,India,2023-09-04,...,2.79,Average,01,B,1,2023,9,September,Monday,3
4,5005,TV Show,Documentary,Malayalam,2021,157,8.100000,U/A,Australia,2024-01-05,...,4.13,Excellent,01,B,1,2024,1,January,Friday,1

# 53.Group data by year and count content added.

In [215]:
df.groupby("year")["content_type"].count()

year
2021    193
2022    169
2023    186
2024     58
Name: content_type, dtype: int64

# 54.Group data by month name and calculate average views.

In [162]:
df.groupby('monthname')['views_millions'].mean()

monthname
April        53.650517
August       59.686579
December     61.954167
February     65.564400
January      57.761587
July         62.110984
June         59.436744
March        62.342143
May          66.879149
November     63.210488
October      62.048723
September    68.395250
Name: views_millions, dtype: float64

# 55.Group data by quarter and calculate average revenue.

In [163]:
df.groupby("quarter")["revenue_millions"].mean()

quarter
1    25.357541
2    25.256419
3    25.310576
4    25.329559
Name: revenue_millions, dtype: float64

# 56.Group data by day name and count content added.

In [216]:
df.groupby("dayname")["content_type"].count()

dayname
Friday       95
Monday       77
Saturday     91
Sunday       88
Thursday     94
Tuesday      84
Wednesday    77
Name: content_type, dtype: int64

# 57.Identify the month with highest content additions.

In [205]:
df.groupby("month")["content_type"].max()

month
1     TV Show
2     TV Show
3     TV Show
4     TV Show
5     TV Show
6     TV Show
7     TV Show
8     TV Show
9     TV Show
10    TV Show
11    TV Show
12    TV Show
Name: content_type, dtype: object

# 58.Identify the quarter with highest average imdb_rating.

In [202]:
df.groupby("quarter")["imdb_rating"].mean().max()

7.005409478278944

# 59.Group by year and genre and calculate average imdb_rating.

In [167]:
df.groupby(['year','genre'])['imdb_rating'].mean()

year  genre
2021  Action         6.907056
      Comedy         7.292544
      Documentary    6.216693
      Drama          7.030510
      Romance        6.846996
      Sci-Fi         7.585185
      Thriller       6.876000
2022  Action         6.986957
      Comedy         6.712996
      Documentary    6.927232
      Drama          7.047797
      Romance        6.828815
      Sci-Fi         6.860302
      Thriller       5.835000
2023  Action         7.087097
      Comedy         6.995833
      Documentary    7.182110
      Drama          7.000707
      Romance        6.691667
      Sci-Fi         7.129911
      Thriller       6.978815
2024  Action         6.943392
      Comedy         6.680000
      Documentary    6.180000
      Drama          7.419724
      Romance        7.245280
      Sci-Fi         7.137500
      Thriller       6.890560
Name: imdb_rating, dtype: float64

# 60. Group by language and year and calculate content count.

In [168]:
df.groupby(["year","language"])["content_type"].count()

year  language
2021  English      30
      Hindi        36
      Kannada      29
      Malayalam    29
      Tamil        36
      Telugu       33
2022  English      38
      Hindi        29
      Kannada      25
      Malayalam    24
      Tamil        28
      Telugu       25
2023  English      29
      Hindi        28
      Kannada      24
      Malayalam    38
      Tamil        40
      Telugu       27
2024  English       8
      Hindi        11
      Kannada       6
      Malayalam    17
      Tamil         7
      Telugu        9
Name: content_type, dtype: int64

# 61. Group by country and subscription_plan and calculate average revenue.

In [170]:
df.groupby(["country","subscription_plan"])["revenue_millions"].mean()

country    subscription_plan
Australia  Basic                26.292500
           Mobile               23.060645
           Premium              23.974815
           Standard             24.700571
Canada     Basic                25.299189
           Mobile               25.695667
           Premium              28.850370
           Standard             31.489231
India      Basic                26.711714
           Mobile               30.790769
           Premium              25.912692
           Standard             26.222000
UK         Basic                23.186000
           Mobile               24.560645
           Premium              23.984286
           Standard             23.149000
USA        Basic                25.274400
           Mobile               25.746296
           Premium              18.653043
           Standard             22.265769
Name: revenue_millions, dtype: float64

# 62. Filter grouped years with more than 100 contents.

In [199]:
year_content_count=df.groupby("year")["content_id"].count()
year_content_count.head()

year
2021    193
2022    169
2023    186
2024     58
Name: content_id, dtype: int64

In [200]:
year_content_count[year_content_count>100]

year
2021    193
2022    169
2023    186
Name: content_id, dtype: int64

# 63. Filter grouped genres with average revenue above 20 million.

In [185]:
genre_avg_revenue=df.groupby("genre")["revenue_millions"].mean()

In [186]:
genre_avg_revenue[genre_avg_revenue>20]

genre
Action         24.580556
Comedy         26.789444
Documentary    23.796800
Drama          25.032100
Romance        26.459200
Sci-Fi         26.303263
Thriller       24.785676
Name: revenue_millions, dtype: float64